.highlightCode{
    transition: .3s;
    background-color: #3f3f3f !important;
    color: #fff;
}
    .highlightCode .hljs-keyword{
        color: #be853d !important;
    }

    .highlightCode .hljs-number{
        color: #3d7abe !important;
    }

    .highlightCode .hljs-title{
        color: #B2B200 !important;
    }

.highlightNumber{
    color: #000 !important;
}

pre code table td:first-child {
    color:#7f8c8d;
    white-space: nowrap;
    display: table;
    width: auto;
    margin-right: 5px !important;
    margin-left: 5px;
    float: right;
}