/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

html, body{
    background-color: #f6f8f8;
    font-family: 'Roboto', sans-serif;
}

/*TOP NAVBAR*/
nav {
    margin-bottom: 0px !important;
    z-index: 20;
    box-shadow: 2px 0px 5px #000;
    position: fixed !important;
    width: 100%;
    background: rgba(34,34,34,0.9)!important;
    z-index: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
nav:hover{
    background: rgba(34,34,34,1.0)!important;
}

nav .navbar-brand{
    color: #fff !important;
    width: 170px;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    font-weight: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav .navbar-brand:hover{
    color: #e78684 !important;
/*    text-shadow: 3px -2px #e78684;*/
}

nav .logoMenu{
    height: 40px;
    float: left;
    margin: -10px 7px 0 0;
}

#signUp-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.9);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.9);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.miniProfilePicture{
    width: 40px;
    height: 40px;
    margin:-10px 0px -10px 0px;
    border-radius: 50% !important;
    background-color: #fff;
    border: 2px solid #fff;
}
    .miniProfilePicture img{
        width: 100%;
        border-radius: 50% !important;
    }


@media(max-width:768px) {
    nav {
        position: fixed !important;
        background: rgba(34,34,34,1.0)!important;
    }
    .projectsDropdown{
        border:1px solid white !important;
    }
    
    .miniProfilePicture{
        margin: 0 auto;
    }
    
}

/*SIDEBARS*/
#wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper, #sidebar-wrapper2{
    position: fixed;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: 50px;
}
#sidebar-wrapper {
    left: 350px;
    width: 0;
    background: #000;
    z-index: 9;
}

#sidebar-wrapper2 {
    left: 250px;
    width: 100px;
    background: #555;
    z-index: 10;
    border-right: 1px solid #000;
/*    box-shadow: 1px 0px 5px #000;*/
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    height: 100% !important;
    padding: 15px;
    padding-top: 50px !important;
    height: 100%;
    overflow-y: auto;
}

.navigationPage .container-fluid, .navigationPage .container-fluid .row, .navigationPage .container-fluid .row .col-lg-12 {
    height: 90%;
}

#page-content-wrapper h1{
    color: #ca4f4d;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -350px;
}

.page-content-wrapper-3 {
    height: auto !important;
    margin-bottom: 0px !important;
}

/*Sidebar Style*/
.sidebar-nav {
    position: absolute;
    top: 0px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/* Sidebar 2 Styles */

.sidebar-nav2 {
    position: absolute;
    top: 0;
    width: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav2 li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav2 li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height:20px;
    padding: 6px 0 6px 0;
    font-size: 0.9em;
    font-weight: 200;
}

.sidebar-nav2 li i {
    display: block;
    font-size: 28px;
    color: inherit;
    margin-left: -20px;
}

.sidebar-nav2 li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav2 li a:active{
    text-decoration: none;
    color: #e78684;
    background: #333;
}

.sidebar-nav2 li a.active {
    text-decoration: none;
    color: #e78684;
    background: #333;
}

.sidebar-nav2 > .sidebar-brand2 {
    height: 50px !important;
    font-size: 20px;
    line-height: 50px !important;
    margin-left: -18px;
    margin-bottom: 20px;
    padding-top: 15px
}

.sidebar-nav2 > .sidebar-brand2 a {
    color: #fff;
}

.sidebar-nav2 > .sidebar-brand2 a:hover {
    color: #fff;
    background: none;
}

/*@media(min-width:768px) {*/
    #wrapper {
        padding-left: 350px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 115px;
    }
    
/*}*/

/* SEARCH BAR */
.treeMapSearch{
    padding: 5px 0px;
    margin: 0px 5px;
    border-bottom: 1px solid #fff;
}
.treeMapSearch input, .treeMapSearch span{
    border-radius: 0px;
    border: none;
}
.treeMapSearch input{
    background-color: transparent;
    border-right: 1px solid #fff;
    height: 45px;
    color: #fff;
    font-weight: 100;
    font-size: 16px;
}
.treeMapSearch input:focus{
    outline:none;
    box-shadow: none;
}

    .treeMapSearch ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:#bdc3c7;
        font-weight: 100;
        font-size: 16px;
    }
    .treeMapSearch :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:#bdc3c7;
       font-weight: 100;
       font-size: 16px;
       opacity:  1;
    }
    .treeMapSearch ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:#bdc3c7;
       font-weight: 100;
       font-size: 16px;
       opacity:  1;
    }
    .treeMapSearch :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:#bdc3c7;
       font-weight: 100;
       font-size: 16px;
    }

.treeMapSearch span{
    background-color: transparent;
    height: 45px;
    color: #ecf0f1;
    font-size: 15px;
}

/* ACCORDION */
* {
  margin: 0; padding: 0;
}
.accordion {
  width: 100%;
  margin: 20px auto;
}
.accordion h1, .accordion h2, .accordion h3, .accordion h4, .accordion h5, .accordion h6 {
  cursor: pointer;
  margin: 0px;
}
.accordion h1 {
  padding: 15px 0px;
  background-color: #333;
  font-size: 1.5rem;
  font-weight: normal;
  color: #e78684;
  margin-top: 60px;
}
.accordion h1:hover {
  color: #F7A6A4;
}
.accordion h1:first-child {
  border-radius: 0px;
}
.accordion h1:last-of-type {
  border-radius: 0px;
}
.accordion h1:not(:last-of-type) {
  border-bottom: 1px dotted #1abc9c;
  background-color: #fff;
}
.accordion div{
  display: none;
}
.accordion h2 {
  padding: 8px 0px 8px 0px;
  background-color: #e78684;
  font-size: 1.5rem;
  color: #333;
}
.accordion h2:hover {
  background-color: #F7A6A4;
}
.accordion h3 {
  padding: 8px 0px 8px 5px;
  background-color: #7f8c8d;
  font-size: 1.5rem;
  color: #ddd; 
}
.accordion h3:hover {
  background-color: #4f5c5d;
}
.accordion h4 {
  padding: 8px 0px 8px 10px;
  background-color: #95a5a6;
  font-size: 1.5rem;
  color: #fff; 
}
.accordion h4:hover {
  background-color: #758586;
}

.accordion h5 {
  padding: 8px 0px 8px 15px;
  background-color: #DBE6EC;
  font-size: 1.5rem;
  color: #000; 
}
.accordion h5:hover {
  background-color: #c4cfd4;
}

.accordion h6 {
  padding: 8px 0px 8px 20px;
  background-color: #E8F3F8;
  font-size: 1.5rem;
  color: #000; 
}
.accordion h6:hover {
  background-color: #cbd5d9;
}

.accordion .opened-for-codepen {
  display: block;
}

.accordion a{
    float: right;
    color: #fff;
    margin-right: 5px;
    display: inline !important;
}

.accordion a:hover{
    background-color: transparent;
}

.accordion a i{
    color: fff;
    transition: .3s;
}

.accordion a i:hover{
    color: #3f3f3f;
}

.btnMargin a{
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: right;
}

.lastProjects{
    margin-bottom: 20px;
}

.lastProjects span{
    font-size: 15px;
    margin: 5px 0px 0px 10px;
    position: absolute;
}

.fontCursive{
    font-family: 'Lobster', cursive !important;
}
.fontTitle{
    font-family: 'Roboto', sans-serif !important;
}

.projectsDropdown i{
    margin-left: -10px;
}

.projectsDropdown .fa-plus{
    color: #c0392b;
}

/* MODAL ADD PROJECT */
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}

.miniDiv{
    margin: 0px 0px 30px;
    border-right: 2px solid #ecf0f1;
}

.miniDiv:last-child{
    border-right: none;
}

.headerImg img{
    margin: 0 auto;
    margin-bottom: 5px;
    max-width: 60%;
}

.miniTitle{
    clear: both;
}

.miniLead {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
}


.gitHubUrl{
    width: 100% !important;
}

.gitHubURL span i{
    font-size: 25px;
}

.gitHubURL input{
    height: 40px;
}


/*TREE MAP*/
#chart {
    padding-left:0px;
    width: 50%;
    top: 0;
    color: #000;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  stroke: #fff;
  stroke-width: .5px;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent:hover rect {
  fill: darkgrey;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.child {
  opacity: 0;
}

.children rect.parent {
}

.children:hover rect.child {
  opacity: 1;
  stroke-width: 1px;
}

.children:hover rect.parent {
  opacity: 0;
}

.legend rect {
  stroke-width: 0px;
}

.legend text {
  text-anchor: middle;
  pointer-events: auto;
  font-size: 15px;
  font-family: sans-serif;
  fill: black;
}

#showChart{
    height: 100%;
}

#legend{
    height: 60px;
    width: 185px;
    position: absolute;
    right: 0px;
    top: 30px
}

/*NEW CSS TREEMAP CHECK*/

.legend text {
  text-anchor: middle;
  pointer-events: auto;
  font-size: 15px;
  font-family: sans-serif;
  fill: black;
}

.modal #legend{
    height: 60px;
    width: 185px;
    position: static;
    display: block;
    margin: 0 auto;
}
/*END OF TREE MAP*/


/*VISUALIZATIONS*/

#chart, #bipartite{
    text-align: center;
}
.rowVisualizations{
    
}

line {
    stroke: #000;
    stroke-width: 1px;
}

text {
    font-size: 12px;
}

.titles {
    font-size: 10px;
}

path.chord {
    fill-opacity: .80;
}

.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: steelblue;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}

.code {
    text-align: left;
    overflow: hidden;
    padding: 0px;
    height: auto;
    border: 1px solid #bdc3c7;
}

pre{
    border: none;
    background-color: #c3c3c3;
    padding: 0;
    height: 100%;
    margin-bottom: 0px;
}

.selectorVisualization{
    position: absolute;
    right:10px;
    top: 10px;
}

.selectorVisualization select {
    border: 0;
    outline: 1px solid #CCC;
    background-color: white;
    font-size: 20px;
}

.selectorVisualization ul{
    margin-left: -35px;
}

.code pre code, .code2{
/*    max-height: auto !important;*/
    height: 100%;
    font-family: sans-serif;
}

/*END OF VISUALIZATIONS*/

/*LINE NUMBERS*/


pre code table {
    font-family: sans-serif;
    margin-right: -5px;
}

pre code table td:first-child {
    color:#bdc3c7;
    white-space: nowrap;
    display: table;
    width: auto;
    margin-right: 5px !important;
    margin-left: 5px;
    float: right;
}

pre code table tbody tr td:last-child{
    width: 100%;
    padding-left: 5px;
    border-left: 1px solid #ccc;
}

.code2{
    background-color: #000;
    overflow-y: auto;
    color: #fff;
    font-size: 3px !important;
    opacity: .3;
    position: absolute;
    z-index: 50;
    right: 0px;
    top: 0px;
    padding-top: 3px;
    height: 100%;
    white-space: nowrap;
    word-wrap: break-word;
    transition: 1s;
    width: 170px;
    display: inline-block;
}

.code2:hover{
    opacity: .9;
}

.code2::-webkit-scrollbar { 
    display: none; 
    width: 0px;
    height: 10px;
}


.code2 #contextView tbody tr td:first-child {
    color:#bdc3c7;
    width: 20%;
    margin-right: 2px !important;
    float: left;
    margin-left: -8px;
}

.code .code2 #contextView tbody tr td:last-child{
    width: 100%;
    padding-left: 2px;
    border-left: 1px solid #ccc;
}

.code .code2 #contextView {
    font-family: sans-serif;
    margin-right: -14px;
    margin-left: -4px;
}

.mainrectOpacity{
    opacity:0;
}


.bipartiteSelected{
    transition: .1s;
    opacity: .7;
    fill: rgba(255,255,0,0);
    stroke:#000;
    stroke-width:2;
    
}

.syntaxImg img{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0px 0px 10px #333;
}

.syntaxImg p{
    text-align: right;
}

.highlightCode{
    transition: .3s;
    background-color: #fff !important;
    color: #3f3f3f;
}
    .highlightCode .hljs-keyword{
        color: #be853d !important;
    }

    .highlightCode .hljs-number{
        color: #3d7abe !important;
    }

    .highlightCode .hljs-title{
        color: #B2B200 !important;
    }

.highlightNumber{
    color: #fff !important;
}

.selectCodeTheme {
    margin: auto;
    text-align: center !important;
}

.selectCodeTheme * {
    text-align: center;
}

.selectCodeTheme select {
    border: 0;
    outline: 1px solid #CCC;
    background-color: white;
    font-size: 15px;
}

.modal #chartTreeMap svg g{
    margin: auto !important;
    display: block !important;
}

.cell .label{
    transform: translate(15,33) !important;
}

.modal-xs{
    width: auto !important;
}

.modal-xs .modal-content{
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    color: #fff !important;
}

.modal-content #loadingPercentage{
    font-size: 50px !important;
}

#page-content-wrapper2 {
    width: 100%;
    height: 100% !important;
    padding: 15px;
    height: 100%;
    overflow-y: auto;
}


.leftProfile{
    background-color: #e78684;
    width: 250px;
    height: 100%;
    position: fixed;
    margin-top: 50px;
    margin-left: 100px;
    border-right: 5px solid #c16765;
}
.rightProfile{
    width: auto;
    height: 100%;
    padding-top: 50px;
    margin-left: 350px;
}

.profilePicture{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 50% !important;
    background-color: #fff;
    border: 5px solid #fff;
    box-shadow: 0px 0px 15px #000;
}
    .profilePicture img{
        width: 100%;
        border-radius: 50% !important;
    }

.profileName{
    text-align: center;
    font-size: 35px;
}

.profilePosition{
    text-align: center;
    font-size: 20px;
    margin-top: -10px;
}

.leftProfile .list-group{
    margin-top: 30px;
}

.leftProfile .list-group .list-group-item{
    border: none;
    border-bottom: 1px solid #efa7a6;
    background-color: transparent;
}

.leftProfile .list-group .list-group-item:last-child{
    border: none;
}

.leftProfile .list-group .list-group-item span{
    margin-right: 10px;
}

.leftProfile .list-group .list-group-item a{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.leftProfile .list-group .list-group-item a:hover{
    color: #333;
    text-decoration: none;
    cursor: pointer;
}


@media(max-width:700px) {
    #page-content-wrapper2{
        overflow: visible;
    }
    .leftProfile{
        width: auto;
        height: auto;
        position: relative;
        padding-top: 1px;
        border: none;
    }
    .rightProfile{
        padding-top: 0px;
        margin-left: 100px;
    }
    .profilePicture{
        width: 200px;
    }
}

/* FORM */
.input, .input2 {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: calc(100% - 2em);
    max-width: 45%;
	vertical-align: top;
}

.input2 {
	max-width: 95%;
    height: auto;
    resize: none;
}

.input--bigger{
    max-width: 94% !important;
}

@media screen and (max-width: 1383px) {
    .input, .input2, .input--bigger{
        max-width: 100% !important;
    }
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 200;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #e78684;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: .5em 0;
	width: 100%;
    font-size: 2em;
}


.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

/* Individual styles */

/* Haruki */

.input--haruki {
	margin: 4em 1em 1em;
}


.input__field--haruki {
	padding: 0.4em 0.25em;
	width: 100%;
	background: transparent;
	color: #333;
	font-size: 1.55em;
}

.textarea--paulovs {
	padding: 0.4em 0.25em;
	width: 100%;
	background: transparent;
	color: #333;
	font-size: 1.55em;
    height: 150px;
    resize: none;
}

.input__label--haruki {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
}

.input__label-content--haruki {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--haruki::before,
.input__label--haruki::after {
	content: '';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 2px;
	background: #555;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--haruki::before {
	top: 0;
}

.input__label--haruki::after {
	bottom: 0;
}

.input__label--paulovs::after {
	bottom: -100px;
}

.input__field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki {
	-webkit-transform: translate3d(0, -90%, 0);
	transform: translate3d(0, -90%, 0);
}

.input__field--haruki:focus + .input__label--haruki::before,
.input--filled .input__label--haruki::before {
	-webkit-transform: translate3d(0, -0.5em, 0);
	transform: translate3d(0, -0.5em, 0);
}

.input__field--haruki:focus + .input__label--haruki::after,
.input--filled .input__label--haruki::after {
	-webkit-transform: translate3d(0, 0.5em, 0);
	transform: translate3d(0, 0.5em, 0);
}


.contentContact{
    text-align:center;
    height: auto;
}

.page-content-wrapper-3 iframe{
    position: absolute;
    width: 100%;
    left: 0px;
    top: -50px;
}

.mapTitle h1{
    padding: 20px 0 20px 0;
    text-align: center;
}

.first-box, .second-box, .third-box, .fourth-box{
    margin: 5px auto;
}

.first-box{background:#2ecc71;}
.second-box{background:#39F;}
.third-box{background:#F66;}
.fourth-box{background:#f1c40f;}

.informationContact span{
    color: #fff;
}

.informationContact a{
    color: #fff;
}

.btn-sendMessage{
    margin-bottom: 20px;
    border-bottom: 5px solid #c0392b;
    transition: .3s;
}

.search{
    z-index: 9999;
}

.selectedNav{
/*    background-color: #f1c40f !important;*/
    color: #ffff7f !important;
    text-shadow: 0px 0px 5px #000;
}

#level1{
    margin-bottom: 50px;
}

.depth{
    cursor: pointer;
}

.attachBottom{
    position: absolute;
    bottom: 0;
}

/*PARALLEL*/
#parallel{
    text-align: center;
    display: block;
}
.parcoords > canvas {
  font: 14px sans-serif;
  position: absolute;
}
.parcoords > canvas {
  pointer-events: none;

/*  width: 500px !important;
  height: 800px !important;*/
}
.parcoords text.label {
  cursor: default;
}
.parcoords rect.background:hover {
  fill: rgba(120,120,120,0.2);
}
.parcoords canvas {
  opacity: 1;
  transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;

}
.parcoords canvas.faded {
  opacity: 0.25;
}
.parcoords {
    width: 500px !important;
    height: 800px;
    margin: 0 auto !important;
    text-align:left !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f6f8f8;
}

.btnNewProj{
    font-size: 25px;
    margin: 0 auto;
}

.downloadFiles form{
    margin-bottom: 5px;
    padding-left: 5px;
}

.downloadFiles .btnDownloadFile{
    padding: 0px;
    cursor: pointer;
}

.downloadFiles .btnDownloadFile i{
    font-size: 16px;
    padding: 5px;
}

.btnWidth{
    width: 100%;
}
