body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.leadCenter {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.miniDiv{
    margin: 0px 0px 30px;
    border-right: 2px solid #ecf0f1;
}

.miniDiv:last-child{
    border-right: none;
}

.headerImg img{
    margin: 20px 0 15px 10%;
    max-width: 80%;
}

.miniTitle{
    clear: both;
}

.miniLead {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}



.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/topBG3.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-center{
    text-align: center;
    margin-top: 0px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.section-heading-spacer2{
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/octocatBG.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: none;
    margin-top: 15px;
    text-align: center;
}

.banner-social-buttons .fullButton{
    width: 290px;
    height: 70px;
}

.btn-success{
    border-radius: 0;
    background-color: #2ecc71;
    border-bottom: 5px solid #27ae60;
}

.btn-success:hover{
    transition: .5s;
}

.banner-social-buttons .loading{
    width: 70px;
    height: 70px;
    font-size: 25px;
    padding-left: -10px;
    border-radius: 50%;
    background-color: #f1c40f;
    border: none;
    transition: .5s;
}

.banner-social-buttons .loading:active{
    background-color: #e74c3c;
}

.gitHubURL span i{
    font-size: 40px;
}

.gitHubURL input{
    height: 55px;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: none;
        margin-top: 15px;
        text-align: center;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
    
    .miniLead {
        text-align: center;
    }
}

#connect span{
    padding: 1px;
}

.rowSteps{
    padding: 20px 0;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.fa-counter-spin {
  -webkit-animation: spin-counter 2s infinite linear;
  -moz-animation: spin-counter 2s infinite linear;
  -o-animation: spin-counter 2s infinite linear;
  animation: spin-counter 2s infinite linear;
}
@-moz-keyframes spin-counter {
  0% {
    -moz-transform: rotate(359deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes spin-counter {
  0% {
    -webkit-transform: rotate(359deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-o-keyframes spin-counter {
  0% {
    -o-transform: rotate(359deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
@-ms-keyframes spin-counter {
  0% {
    -ms-transform: rotate(359deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}
@keyframes spin-counter {
  0% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.logoBanner{
    margin: 0 auto;
    width: 100px;
    text-shadow: 0px 0px 10px #333;
}

.logoMenu{
    width: 35px;
    float: left;
    margin-top: -10px;
    margin-right: 5px;
}

.fontCursive{
    font-family: 'Lobster', cursive !important;
    font-weight: 100;
}

.sizeCursive{
    font-size: 24px;
}

/*TOP NAVBAR*/
nav {
    margin-bottom: 0px !important;
    z-index: 20;
    box-shadow: 2px 0px 5px #000;
    position: fixed !important;
    width: 100%;
    background: rgba(34,34,34,0.9)!important;
    z-index: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
nav:hover{
    background: rgba(34,34,34,1.0)!important;
}

nav .navbar-brand{
    color: #fff !important;
    width: 170px;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    font-weight: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav .navbar-brand:hover{
    color: #e78684 !important;
/*    text-shadow: 3px -2px #e78684;*/
}