html, body{
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow-y:hidden;
  position: absolute;
  padding: 0;
  background-color: #333;
}

.jumbotron{
	background-color: rgba(0,0,0,0.1);
}

@-webkit-keyframes pulse{
	 0% {background-color: #ff7170;}
	 10% {background-color: #ff7170;}
	 35% {background-color: #f1c40f;}
	 70% {background-color: #2ecc71;}
	 /*75% {background-color: #9b59b6;}*/
	100% {background-color: #3498db;}
}

.navbar-brand span{
	margin-top: -15px;
	
}

.fa-check{
    color: #27ae60;
}

.navbar-brand img{
  height: 40px;
  margin-top: -10px;
}

/*.navbar-brand img:hover{
	-webkit-transform: rotateY(360deg);
	transform: rotateY(360deg);
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-ms-transition: .25s;
	-o-transition: .25s;
	transition: .25s;
	background-color: #3498db;
}*/

.navbar-brand span .fa-circle{
  color: #A6E22E;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.btn-black{
	background-color: #333;
	color: #fff;
	border: 1px solid #222;
	-webkit-transition:.25s;
	-moz-transition:.25s;
	-ms-transition:.25s;
	-o-transition:.25s;
	transition:.25s;
}

.btn-black:hover{
	color: #e74c3c;
	background-color: #fff;
	border: 1px solid #eee;
}

.navbar{
	border-radius: 0;
  margin-bottom: 0px;
}

.h1-underline{
	padding-bottom: 5px;
	max-width: 350px;
	border-bottom: 2px solid #ff7170;
}

.yellow{
	color: #f1c40f;
}

.bg-light-gray{
	background-color: #ecf0f1;
}

.bg-green{
  background-color: #2ecc71;
}

.bg-blue{
  background-color: #3498db;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-dialog-larger{
  width: 90%;
  max-width: 880px;
}

.modal-body img{
	text-align: center;
	max-height: 200px;
	display: block;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;

}
.personalOut{
	margin-top: 50px;
	padding-bottom:50px;
	background-image: url("../img/full2.png");
	background-repeat:no-repeat;
	background-position: 90% 70%;
	background-size: auto 70%;
}
.personalInfo{
	margin-top: 50px;
}

.body-personal p{
	background-color: #fff;
	padding: 20px;
}

.information li{
/*	text-align: left;*/
}

.information li span .fa-circle{
	color:#ff7170;
}

.infoIn{
	font-weight: bold;
	font-size: 18px;
	margin-top: 25px;
}

.bgDark{
	background-color: #333;
}

.offset-0 {
    padding-left: 0;
    padding-right: 0;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
#main{
  background-color: #F3F5F6;
  /*float: right;*/
  max-height:90%;
  width: 40%;
  overflow-x: auto;
  overflow-y: auto; 
}

  .innerMain{
    width: 100%;
    height: 93.5vh;
    overflow-y: auto;
    margin: 0;
    padding: 0;
  }
  .innerMain img{
    width: 100%;
    min-width: 100px;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    max-width:600px; 
  }

  .info1{
    height: 64.5%;
    border-bottom: 1px solid #333;
    background-color: #F3F5F6;
  }

  .info2{
    height: 34.5%;
    background-color: #F3F5F6;
  }

  .info1, .info2{
    position: relative;
    overflow-y:auto;
  }

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#sidebar{
  background-color: #F3F5F6; /*#272822*/
  width:100%;
  /*float: left;*/
  max-height:90%;
  overflow-y: auto;
}

.innerSidebar{
  width: 99%;
  height: 93.5vh;
  overflow-y: auto;
  overflow-x: auto
}
.innerSidebar img{
  width: 95%;
  min-width: 650px;
  max-width: 800px; 
}

#dragbar{
   background-color:#000;
   height:100vh;
   float: right;
   width: 1px;
   /*background: -webkit-linear-gradient(left, #F3F5F6, #F3F5F6 80%, #333 80%, #333 80%, #F3F5F6, #F3F5F6);*/
   background: linear-gradient(
      90deg,
      #333,
      #333 1px,
      #F3F5F6 1px,
      #F3F5F6 2px);
   cursor: col-resize;
}
#ghostbar{
    width:1px;
    background-color:#000;
    opacity:0.5;
    position:absolute;
    cursor: col-resize;
    z-index:999;
}
.leftBar{
  height: 95%;
  background-color: #fff;
  border-right: 1px solid #333;
}

.tree {
    min-height:20px;
    background-color:#fff;
    margin-left: -50px;
    width: 100%;
    padding: 0;
    margin-right: 0;
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative;
    white-space: nowrap;
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border:1px solid #999;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none;
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000;
}

.mg5-right{
  margin-right: 5px;
  width: 40px;
}

.mg-neg-right{
  margin-right: -10px;
}

.ulConfig{
  margin-top: 5px;
}
.settingsWrap{
  margin-left: -462px;
  border-radius: 0;
}
.settingsDiv{
  width: 500px;
  height: 350px;
}

.btnConfig{
  height: 38px;
  border-radius: 0;
}

.navbar{
  box-shadow: 10px 10px 15px #000;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.btnConfigIn{
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: -35px;
  margin-right: 5px;
  background-color: #fff;
  z-index: 50;
  opacity: 0.7;
  -webkit-transition: .35s;
  -moz-transition: .35s;
  -ms-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
}

.btnConfigIn:hover{
  opacity: 1;
  background-color: #fff;
  -webkit-transition: .35s;
  -moz-transition: .35s;
  -ms-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
}

.dropdownConfig{
  border-radius: 0px;
  margin-top: 40px;
  margin-right: 5px;
}

.dropdownConfig:before , .settingsWrap:before{
  position: absolute;
  top: -7px;
  left: 124px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdownConfig:after, .settingsWrap:after{
  position: absolute;
  top: -6px;
  left: 125px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.settingsWrap:before{
  left: 499px;
}
.settingsWrap:after{
  left: 500px;
}

.spinFrvr{
  -webkit-animation-name: spin;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 3000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 3000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform:rotate(0deg);
  }
  
  to {
    -webkit-transform:rotate(360deg);
  }
}

/*
#chart {
  width: 960px;
  height: 500px;
}
*/

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
/*  fill: none; */
  stroke: #fff;
  stroke-width: 1px;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent:hover rect {
  fill: #e74c3c;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.child {
  opacity: 0;
}

.children rect.parent {
}

.children:hover rect.child {
  opacity: 1;
  stroke-width: 1px;
}

.children:hover rect.parent {
  opacity: 0;
}

.legend rect {
  stroke-width: 0px;
}

.legend text {
  text-anchor: middle;
  pointer-events: auto;
  font-size: 15px;
  font-family: sans-serif;
  fill: black;
}